td,th{
    font-size:11px;
}
p{
    font-size:11px;
}
.observ{
    margin-top:5px;
    font-size:11px;
}
.sub_observ{
    font-style: oblique;
}
.header{           
    padding:4px;            
    width:100%;                        
    height:78px;           
    border:1px solid #ccc;
    /*border-radius:5px 5px 5px 5px;*/
}
.header h3{            
    text-align:center;
    font-size:17px;
    font-family:  "Helvetica Neue", Arial, sans-serif;
}
.header p{
    font-size:11px;
    text-align:center;
    margin-bottom: 0rem;
}
.subheader{
    margin-bottom:10px;
    margin-top:7px;            
    width:100%;
    height:100px;            
}
.subheader table td, .subheader table{    
    height:10px;
    padding:2px; 
    /*border:1px solid #ccc;*/
    border:1px solid #808B97;
}
.subheader p{
    font-size:12px;            
}
.header .img_aprosi{
    float:left;
    height:65px;
    width:auto;
}
.header .img_copico{
    float:right;
    height:65px;
    width:auto;
}

.totales td
{     
    border:1px white;    
}
.condComerciales p{
    margin-bottom:0rem;
}
.footer{
    margin-top:50px;
    width:100%;
    float:bottom;
    border-top:1px solid #ccc;
    margin-bottom:10px;            
}
.footer p{    
    margin-bottom: 0rem;                     
}